/* COLOUR SWAP */

.color-fade {
    background-color: mediumvioletred;
    color: purple;
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0% {background-color: mediumvioletred; color: purple;}
    50% {background-color: purple; color: mediumvioletred;}
    100% 0% {background-color: mediumvioletred; color: purple;}
}

/* RAINBOW TEXT */

.rainbow-text {
    font-size: 1.5em;
    background-color: linen;
    color: red;
    animation-name: rainbow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rainbow {
    14% {color: orange;}
    28% {color: yellow;}
    42% {color: green;}
    56% {color: blue;}
    70% {color: indigo;}
    84% {color: violet;}
    100% {color: red;}
}

/* ROTATE */

.rotate {
    background-color: skyblue;
}

.rotate h2 {
    color: pink;
    font-size: 30px;
    padding: 10px;
    border: 5px solid pink;
    animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

/* FIRST LINE */

.firstline {
    max-width: 250px;
    max-height: 250px;
    background-color: lightsalmon;
    text-align: left;
    padding: 10px;
    color: lightyellow;
    display: flex;
    justify-content: flex-start;
    font-family: monospace;
    font-size: 1.2em;
}

.firstline p::first-line {
    font-family: 'Bungee Inline', cursive;
    font-size: 1.2em;
    color: lightgrey;
}

.firstline p::first-letter {
    font-family: 'Bungee Inline', cursive;
    background-color: lightgrey;
    color: lightsalmon;
    font-size: 4em;
    padding: 10px;
    margin-right: 5px;
    float: left;
}

/* NTH CHILD */
.children {
    max-width: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgreen;
}

.children .col {
    display: flex;
    flex-direction: column;
}

.children .col p {
    color: honeydew;
    font-family: monospace;
}

.first p:nth-last-child(1n + 4) {
    color: grey;
}

.second p:nth-child(2n+1) {
    color: hotpink;
}

.third p:nth-last-child(1) {
    color: coral;
}

.growcircle {
  background-color: #aca3a3;
}

.touchme {
  transition: all .3s ease-in-out;
  color: white;
  background-color: #ff8fcf;
  padding: 20px;
  border-radius: 50%;
}
.touchme:hover {
  transform: scale(1.5);
  background-color: #f7c4ec;
  color: #aca3a3;
  padding: 20px;
  border-radius: 50%;
}

.popcircles {

}

.pop {
  background-color: #da5723;
  border: 20px solid #da5723;
  border-radius: 50%;
  transition:0s 180s;
}
.pop:hover {
  opacity:0;
  transition:0s;
}
