* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    font-family: 'Bungee Inline', cursive;
    color: dimgray;
    text-align: center;
}

.header p {
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
    color: black;
}

.header p a {
    text-decoration: none;
    color: black;
}

.header p a:hover {
    color: hotpink;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    margin-bottom: 50px;
    color: black;
}

h2 {
    text-align: center;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1080px;
    align-items: center;


}

.square {
    display: inline;
    min-width: 250px;
    min-height: 250px;
    box-shadow: 5px 5px 10px darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

@media (min-width: 600px) {
    .container {
        max-width: 580px;
    }
    h1 {
        font-size: 80px;
    }
}

@media (min-width: 900px) {
    .container {
        max-width: 850px;
    }
    h1 {
        font-size: 80px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
    }
    h1 {
        font-size: 80px;
    }
}



/* COLOUR SWAP */

.color-fade {
    background-color: red;
    color: purple;
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0% {background-color: red; color: purple;}
    50% {background-color: purple; color: red;}
    100% 0% {background-color: red; color: purple;}
}

/* RAINBOW TEXT */

.rainbow-text {
    background-color: black;
    color: red;
    animation-name: rainbow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rainbow {
    14% {color: orange;}
    28% {color: yellow;}
    42% {color: green;}
    56% {color: blue;}
    70% {color: indigo;}
    84% {color: violet;}
    100% {color: red;}
}

@media (min-width: 400px) {

}
