* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 5% auto;
    background-color: lightgrey;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    display: inline;
    min-width: 250px;
    min-height: 250px;
    border: solid 2.5px purple;
    margin: 20px;
}

@media (min-width: 400px) {

}
